<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/login_css1.css">
    <link rel="stylesheet" href="../static/login_css2.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body style="background-color: #4e73df;">
    <form method="POST">
        
    </form>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;548c3ca5d1b136462af2647c2e872de7.jpg&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Payment</h4>
                                    </div>
                                    <form method="POST" class="user">
                                       
                                        <input placeholder="Email", name="email", type="email" required style="border-radius: 20px;width: 420px; height: 40px; text-align: center;" >
                                        <br>
                                        <br>
                                        <input placeholder="Name", name="name", type="text" style="border-radius: 20px;width: 420px; height: 40px; text-align: center;" >
                                        <br>
                                        <br>
                                        <input placeholder="Amount", name="amount", type="number" required style="border-radius: 20px;width: 420px; height: 40px; text-align: center;" >
                                        <br>
                                        <br>
                                        <button style="border-radius: 20px;width: 420px; background-color: #4e73df;height: 40px; text-align: center;">Donate</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>
</html>